{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="preloader animated">
        <div class="loader-wrap">
            <div class="progress">
                <div class="animated-bar"></div>
            </div>
        </div>
    </div>
    <!-- Preloader END -->

    <!-- START NAVBAR -->
    <header class="header_area">
        <div class="main_header navbar navbar-default menu-top">
            <div class="container">
                {#                <div class="row">#}
                {#                    <div class="col-md-2 col-sm-2 col-xs-4">#}
                {#                        <div class="logo">#}
                {#                            <a href="/" class="navbar-brand"><p>Интенсив</p></a>#}
                {#                            <div class="mobile-nav"></div>#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {#                    <div class="col-md-10 col-sm-10 col-xs-8">#}
                {#                        <div class="navbar-header">#}
                {#                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
                {#                                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">#}
                {#                                <span class="fa fa-navicon"></span>#}
                {#                            </button>#}
                {#                        </div>#}
                {##}
                {#                        <nav id="navbar" class="navbar-collapse collapse">#}
                {#                            <ul class="nav navbar-nav navbar-right">#}
                {#                                <li><a href="#home">Главная</a></li>#}
                {#                                <li><a href="#for">Для кого</a></li>#}
                {#                                <li><a href="#results">Результаты учеников</a></li>#}
                {#                                <li><a href="#prog">Программа</a></li>#}
                {#                                <li><a href="#tariffs">Тарифы</a></li>#}
                {#                                <li><a href="#about">Обо мне</a></li>#}
                {##}
                {#                            </ul>#}
                {#                        </nav>#}
                {#                        <h2><i class="fa fa-support"></i></h2>#}
                {#                    </div>#}
                {#                </div>#}
            </div><!--- END CONTAINER -->
        </div>
    </header>
    <!-- END NAVBAR -->

    <!-- START BANNER DESIGN -->
    <section id="home" class="main_banner banner_bg">
        <div id="particles-js"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br><br><br><br>
                    <div class="banner_content">
                        <h3>Интенсив по продажам</h3>
                        <h2 style="color: white">Как вернуть доход <br>и получить клиентов <br>за 2 недели</h2>

                        <a href="#buy" class="button" onclick="pay()">Купить</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END BANNER DESIGN -->

    <section id="offer" class="dark_bg section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <h2 style="color: white;">Какие проблемы решишь:</h2><br><br>
                    <div class="row fa-align-center" style="margin-bottom: 40px">
                        <div class="col-xs-2 col-sm-4 col-md-1"><img width="30px"
                                                                     src="{{ url_for('static',filename="images/check2.png") }}">
                        </div>
                        <div class="col-xs-10 col-sm-8 col-md-11" style="color: white;font-size: 18px;">нет продаж либо
                            клиентов очень мало
                        </div>
                    </div>
                    <div class="row fa-align-center" style="margin-bottom: 40px">
                        <div class="col-xs-2 col-sm-4 col-md-1"><img width="30px"
                                                                     src="{{ url_for('static',filename="images/check2.png") }}">
                        </div>
                        <div class="col-xs-10 col-sm-8 col-md-11" style="color: white;font-size: 18px;">раньше продавала
                            с блога, клиенты были, теперь стало сложно, никто не реагирует
                        </div>
                    </div>
                    <div class="row fa-align-center" style="margin-bottom: 40px">
                        <div class="col-xs-2 col-sm-4 col-md-1"><img width="30px"
                                                                     src="{{ url_for('static',filename="images/check2.png") }}">
                        </div>
                        <div class="col-xs-10 col-sm-8 col-md-11" style="color: white;font-size: 18px;">в голове хаос,
                            ведешь блог интуитивно, продажи нерегулярные, не получается набирать достаточно людей на
                            консультации, марафоны, курсы
                        </div>
                    </div>
                    <div class="row fa-align-center" style="margin-bottom: 0px">
                        <div class="col-xs-2 col-sm-4 col-md-1"><img width="30px"
                                                                     src="{{ url_for('static',filename="images/check2.png") }}">
                        </div>
                        <div class="col-xs-10 col-sm-8 col-md-11" style="color: white;font-size: 18px;"> хочешь
                            запустить продажи услуг, инфопродукта с блога, но не знаешь алгоритма действий
                        </div>
                    </div>

                    {#<hr style="background-color:#f3bc17; color: #f3bc17;height:2px;border-width:0;"><p style="color: white">#}

                </div>


            </div>
        </div>
    </section>


    <!-- START RESUM -->
    <section id="for" class="dark_bg section_padding">
        <div class="container">
            <div class="col-md-12 col-sm-12-col-xs-12">
                <div class="section_heading text-center">
                    <h2><span>Кому <span style="text-transform: lowercase">подойдет</span></span></h2>
                    <h4 style="color: white; line-height: 1.5">Фрилансерам и экспертам, которые хотят продавать свои
                        консультации, <br>услуги
                        и инфопродукты с блога в Инстаграм</h4>
                    <div class="sm_border"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="resume-container wow fadeInLeft">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single_resume">
                                    <p style="color:white; font-size: 18px">Психологи, коучи, врачи, нутрициологи,
                                        тренера, йога-тренера, нумерологи, астрологи, наставники по духовному развитию и
                                        другие помогающие профессии
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_resume">

                                    <p style="color:white; font-size: 18px">Эксперты в сферах финансов, hr-специалисты,
                                        преподаватели
                                        языков и другие твердые ниши</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_resume">

                                    <p style="color:white;font-size: 18px">Диджитал-эксперты: таргетологи,
                                        смм-специалисты, наставники, маркетологи, эксперты по продажам</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- START BLOG -->
    <section id="results" class="dark_bg section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12-col-xs-12">
                    <div class="section_heading text-center">
                        <h2>Результаты <span style="text-transform: lowercase">учеников</span></h2>
                        <div class="sm_border"></div>
                    </div>
                </div>

                <div class="blog_slide_area">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single_blog wow fadeInLeft">
                            <div class="blog-thumb">
                                <div class="blog-image">
                                    <a href="https://instagram.com/yana_bella"><img
                                            src="{{ url_for('static',filename='images/img.png') }}"
                                            class="img-responsive" alt=""></a>
                                </div>
                                <div class="blog-info">

                                    <a href="https://instagram.com/yana_bella"><h4 style="color:#f3bc17 ">@yana_bella <i
                                            class="fa fa-external-link" style="font-size: 18px; margin-left: 5px"></i>
                                    </h4></a>
                                    <p>Результата за 2 недели:</p>
                                    <p style="color: white">
                                        <b>+ <span style="color:#f3bc17 ">3</span> клиента по <span
                                                style="color:#f3bc17 ">300$</span></b><br>
                                        <b>+ продажи закрытого клуба на <span style="color:#f3bc17 ">750$</span></b></p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single_blog wow fadeInUp">
                            <div class="blog-thumb">
                                <div class="blog-image">
                                    <a href="https://instagram.com/capmaria.lo"><img
                                            src="{{ url_for('static',filename='images/img_1.png') }}"
                                            class="img-responsive" alt=""></a>
                                </div>
                                <div class="blog-info">

                                    <a href="https://instagram.com/capmaria.lo"><h4 style="color:#f3bc17 ">@capmaria.lo
                                        <i class="fa fa-external-link" style="font-size: 18px; margin-left: 5px"></i>
                                    </h4></a>
                                    <p>Результата за 2 недели:</p>
                                    <p style="color: white">
                                        <b>Запустила своё обучение</b><br>
                                        <b>Результат запуска <span style="color:#f3bc17 ">1550$</span></b><br>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single_blog wow fadeInRight">
                            <div class="blog-thumb">
                                <div class="blog-image">
                                    <a href="https://instagram.com/jully_eng"><img src="{{ url_for('static',filename='images/img_2.png') }}" class="img-responsive" alt=""></a>
                                </div>
                                <div class="blog-info">

                                   <a href="https://instagram.com/jully_eng"><h4 style="color:#f3bc17 ">@jully_eng
                                        <i class="fa fa-external-link" style="font-size: 18px; margin-left: 5px"></i>
                                    </h4></a>
                                    <p>Результата за 10 дней:</p>
                                    <p style="color: white">
                                        <b>Результат запуска <span style="color:#f3bc17 ">1000€</span></b><br>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="prog" class="dark_bg section_padding">
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-md-12 col-sm-12-col-xs-12">
                    <div class="section_heading text-center">
                        <h2>Программа <span style="text-transform: lowercase">интенсива</span></h2>
                        <div class="sm_border"></div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-service wow fadeInDown" style="text-align: left; color:white"
                             data-wow-delay="0.3s">
                            <ul id="prog_list_prev">
                                <li><span>3 дня - 3 урока в записи длительностью 1 час</span></li>
                                <li><span>План прогрева и продаж на 2 недели с реальными примерами внедрения</span></li>
                                <li><span>Вы получите пошаговую инструкцию к запуску продаж услуг, инфопродуктов без воды и
                                    мотивашек</span></li>
                                <li><span>Смотрите - делаете - получаете клиентов за 1-2 недели</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-service wow fadeInDown" style="text-align: left;color: white !important;"
                             data-wow-delay="0.3s">
                            <center><h2 style="color: #f3bc17">День 1</h2>
                                <p style="font-size: 18px">Система продаж в блоге + Анализ целевой аудитории</p>
                            </center>
                            <br>
                            <ul id="prog_list">
                                <li>5 шагов для системных продаж в блоге</li>
                                <li>Как понять актуальные потребности аудитории, чтобы адаптировать продукт и увеличить
                                    продажи
                                </li>
                                <li>Где искать людей для анализа аудитории, список вопросов для анализа ЦА</li>
                                <li>Как еще на этапе анализа ЦА закрыть первых клиентов</li>
                            </ul>

                            <br>
                            <h3 style="color: #f3bc17">Бонус</h3>
                            <p style=" padding-left: 15px; margin-left: 5px; border-left: 2px solid #f3bc17">
                                Карта актуальных запросов для разных ниш из разных сфер жизни, за что люди сейчас готовы
                                вам платить</p>
                            <br><br>
                            <h3 style="color: #f3bc17">Результат:</h3>
                            <p style="">
                                Поймёте за что ваши клиенты готовы платить, какие у них есть сомнения и как их
                                закрыть, как через контент донести ценность своих услуг/продуктов</p>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-service wow fadeInDown" style="text-align: left; color:white"
                             data-wow-delay="0.3s">
                            <center><h2 style="color: #f3bc17">День 2</h2>
                                <p style="font-size: 18px">Создание и адаптация услуг, инфопродуктов</p></center>
                            <br>

                            <ul id="prog_list">
                                <li>Какой продукт/услугу создать, исходя из вашего опыта и к-ва подписчиков в блоге</li>
                                <li>Как и чем наполнить свой продукт, чтобы он приносил результат клиентам, какой
                                    выбрать формат и длительность
                                </li>
                                <li> Как делать допродажи, какой продукт, услугу допродавать, чтобы один клиент платил
                                    вам несколько раз
                                </li>
                                <li> Как описать, упаковать и презентовать продукт, чтобы клиенты сами хотели купить
                                </li>
                            </ul>
                            <br>
                            <h3 style="color: #f3bc17">Бонус</h3>
                            <p style=" padding-left: 15px; margin-left: 5px; border-left: 2px solid #f3bc17">
                                Реальные примеры продуктов для первых продаж и допродаж экспертам из разных ниш</p>
                            <br><br>
                            <h3 style="color: #f3bc17">Результат:</h3>
                            <p style="">
                                Создадите или адаптируете продукт, который реально будет нужен вашей аудитории, его
                                будут ждать, просить, покупать</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-service wow fadeInDown" style="text-align: left; color:white"
                             data-wow-delay="0.3s">
                            <center><h2 style="color: #f3bc17">День 3</h2>
                                <p style="font-size: 18px">Адекватные и честные прогревы и продажи</p></center>
                            <br>
                            <ul id="prog_list">
                                <li>Как продавать экологично и честно, чтобы люди сейчас нормально реагировали</li>
                                <li>Пошаговый алгоритм постоянных продаж в блоге, и продаж инфопродуктов через запуски
                                </li>
                                <li>Этапы создания прогрева: как планировать, чем наполнять, как внедрять в сториз,
                                    постах, эфирах, телеграм-канале
                                </li>
                                <li>Какая длительность прогрева и продаж, как подводить к продажам, когда заканчивать,
                                    как часто повторять.
                                </li>
                            </ul>
                            <br>
                            <h3 style="color: #f3bc17">Бонус</h3>
                            <p style=" padding-left: 15px; margin-left: 5px; border-left: 2px solid #f3bc17">
                                План прогрева и продаж на 1-2 недели, расписанный по дням под сториз, посты, эфиры</p>
                            <br><br>
                            <h3 style="color: #f3bc17">Результат:</h3>
                            <p style="">
                                Запустите продажи своей услуги, инфопродукта, возьмёте клиентов и заработаете деньги
                                уже за 1-2 недели</p>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END BLOG -->

    {#						<div class="col-md-6 col-sm-12 col-xs-12">#}
    {#							<div class="resume-container wow fadeInRight">#}
    {#								<div class="row">#}
    {#									<h3><i class="fa fa-wordpress"></i>Experience:</h3>#}
    {#									<div class="col-md-12">#}
    {#										<div class="single_resume">#}
    {#											<strong>2014 - 2015</strong>#}
    {#											<h5>Front End Developer</h5>#}
    {#											<p>Lorem ipsum dolor sit amet, consectetur adipisicing#}
    {#											elit. Enim eveniet incidunt quidem illum repellat, a nemo cumque optio asperiores#}
    {#											tempora delectus cupiditate</p>#}
    {#										</div>#}
    {#									</div>#}
    {#									<div class="col-md-12">#}
    {#										<div class="single_resume">#}
    {#											<strong>2016 - 2017</strong>#}
    {#											<h5>Back End Developer</h5>#}
    {#											<p>Lorem ipsum dolor sit amet, consectetur adipisicing#}
    {#											elit. Enim eveniet incidunt quidem illum repellat, a nemo cumque optio asperiores#}
    {#											tempora delectus cupiditate</p>#}
    {#										</div>#}
    {#									</div>#}
    {#									<div class="col-md-12">#}
    {#										<div class="single_resume">#}
    {#											<strong>2018 - 2019</strong>#}
    {#											<h5>Junoir Web Developer</h5>#}
    {#											<p>Lorem ipsum dolor sit amet, consectetur adipisicing#}
    {#											elit. Enim eveniet incidunt quidem illum repellat, a nemo cumque optio asperiores#}
    {#											tempora delectus cupiditate</p>#}
    {#										</div>#}
    {#									</div>#}
    {#								</div>#}
    {#							</div>#}
    {#						</div>#}
    <!-- END RESUM -->

    <!-- START SERVICE -->
    <section id="tariffs" class="dark_bg section_padding">
        <div class="container">
            <div class="col-md-12 col-sm-12-col-xs-12">
                <div class="section_heading text-center">
                    <h2>Тарифы</h2>

                    <div class="sm_border"></div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single-service wow fadeInDown" style="text-align: left" data-wow-delay="0.3s">
                        {#								<i class="fa fa-sliders"></i>#}
                        <center><h3><span style="color: #f3bc17">Cтандарт</span></h3>
                        </center>
                        <ul id="prog_list_prev" style="color: white; font-size: 18px">
                            <li><span>3 дня - 3 урока в записи длительностью 1 час</span></li>
                            <li><span>План прогрева и продаж на 2 недели с реальными примерами внедрения</span></li>
                            <li><span>Вы получите пошаговую инструкцию к запуску продаж услуг, инфопродуктов без воды и
                                    мотивашек</span></li>
                            <li><span>Смотрите - делаете - получаете клиентов за 1-2 недели</span></li>
                        </ul>
                        <center>
                            <a href="#buy" class="button">Купить | 1690 грн.</a></center>

                    </div>
                </div> <!-- End Col -->

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single-service wow fadeInDown" style="text-align: left" data-wow-delay="0.3s">
                        {#								<i class="fa fa-sliders"></i>#}
                        <center><h3><span style="color: #f3bc17">Личный разбор</span></h3>
                        </center>
                        <ul id="prog_list_prev" style="color: white; font-size: 18px">
                            <li><span>3 дня - 3 урока в записи длительностью 1 час</span></li>
                            <li><span>План прогрева и продаж на 2 недели с реальными примерами внедрения</span></li>
                            <li><span>Вы получите пошаговую инструкцию к запуску продаж услуг, инфопродуктов без воды и
                                    мотивашек</span></li>
                        </ul>
                        <p style="font-size: 18px; color: #f3bc17; font-weight: bold">+ Индивидуальная консультация</p>
                        <p style="font-size: 18px; color: white">Этот тариф для тех, кто хочет проработать все нюансы в вашем продукте и прогреве лично с Викторией
                        <br><br>Если сразу внедряете прогрев после консультации - Виктория просматривает ваши сториз в течении 2-х дней и делает разбор, даёт рекомендации
                        </p>







                        <center>
                            <a href="#buy" class="button">Купить | 7900 грн.</a></center>

                    </div>
                </div> <!-- End Col -->

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single-service wow fadeInDown" style="text-align: left" data-wow-delay="0.3s">
                        <center><p style="color: white; font-size: 18px">После оплаты вы получаете доступ к
                            телеграм-каналу Интенсива, где находятся записи вебинаров и все материалы навсегда.</p>
                        </center>
                    </div>
                </div> <!-- End col -->

            </div>
        </div>
    </section>
    <!-- END SERVICE -->





    {#		<!-- START COUNTER -->#}
    {#		    <section id="counter_area" class="section_padding">#}
    {#				<div class="container">#}
    {#					<div class="row text-center">#}
    {##}
    {#						<div class="col-md-3 col-sm-6 col-xs-12">#}
    {#							<div class="single_counter">#}
    {#								<h3><span class="counter">90</span>+</h3>#}
    {#							    <h5>Successul Projects</h5>#}
    {#							</div>#}
    {#						</div>#}
    {##}
    {#						<div class="col-md-3 col-sm-6 col-xs-12">#}
    {#							<div class="single_counter">#}
    {#								<h3><span class="counter">620</span>K</h3>#}
    {#								<h5>Happy Clients</h5>#}
    {#							</div>#}
    {#						</div>#}
    {##}
    {#						<div class="col-md-3 col-sm-6 col-xs-12">#}
    {#							<div class="single_counter">#}
    {#								<h3><span class="counter">60</span>+</h3>#}
    {#								<h5>Awards Received</h5>#}
    {#							</div>#}
    {#						</div>#}
    {##}
    {#						<div class="col-md-3 col-sm-6 col-xs-12">#}
    {#							<div class="single_counter border_left">#}
    {#								<h3><span class="counter">520</span>K</h3>#}
    {#								<h5>Customer</h5>#}
    {#							</div>#}
    {#						</div>#}
    {#					</div>#}
    {#				</div>#}
    {#			</section>#}
    {#		<!-- END COUNTER -->#}



    <!-- START ABOUT -->
    <section id="about" class="dark_bg section_padding">
        <div class="container">
            <div class="col-md-12 col-sm-12-col-xs-12">
                <div class="section_heading text-center">
                    <h2>Эксперт <span style="text-transform: lowercase">интенсива</span></h2>
                    <div class="sm_border"></div>
                </div>
            </div>

            <div class="single_about">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="about_image wow animated fadeInLeft">
                            <img src="{{ url_for('static',filename='images/photo.jpeg') }}" alt="about-image"/>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="about_content_area wow animated fadeInRight">

                            <h1 style="font-weight: bold; color: #f3bc17"> Виктория Романюк </h1>
                            <p style="color: white; font-size: 18px">Наставник экспертов по продажам в блоге</p>
                            <hr style="background-color:#f3bc17; color: #f3bc17;height:2px;border-width:0;">

                            <div class="about_details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="ct_about">
                                            <h1 style="text-transform: lowercase; font-weight: bold; color:#f3bc17"> 7
                                                лет </h1>
                                            <p style="color: white; font-size: 18px">в нише продаж и привлечения
                                                клиентов</p>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="ct_about">
                                            <h1 style="text-transform: lowercase; font-weight: bold; color:#f3bc17">
                                                5 </h1>
                                            <p style="color: white; font-size: 18px">потоков личного и группового
                                                наставничества</p>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="ct_about">
                                            <h1 style="text-transform: lowercase; font-weight: bold; color:#f3bc17">
                                                300+ </h1>
                                            <p style="color: white; font-size: 18px">учеников на обучающих
                                                программах</p>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="ct_about">
                                            <h1 style="text-transform: lowercase; font-weight: bold; color:#f3bc17">
                                                1500$ - 6000$ </h1>
                                            <p style="color: white; font-size: 18px">доход учеников с небольшими блогами
                                                от 300 подписчиков</p>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="ct_about">
                                            <h1 style="text-transform: lowercase; font-weight: bold; color:#f3bc17">
                                                14500$ - 17800$ </h1>
                                            <p style="color: white; font-size: 18px">личные запуски с охватами в сториз
                                                600 человек</p>
                                        </div>
                                    </div>


                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END ABOUT -->


    {#		<!-- START CONTACT -->#}
    {#			<section id="contact" class="dark_bg section_padding">#}
    {#				<div class="container">#}
    {#					<div class="col-md-12 col-sm-12-col-xs-12">#}
    {#						<div class="section_heading text-center">#}
    {#							<h2>Contact <span>Us</span></h2>#}
    {#							<p>Lorem Ipsum is simply dummy text of the printing and typesetting<br/> industry. Lorem Ipsum standard dummy text.</p>#}
    {#							<div class="sm_border"></div>#}
    {#						</div>#}
    {#					</div>#}
    {##}
    {#					<div class="row">#}
    {#						<div class="col-md-12 col-sm-12">#}
    {#							<form class="form" name="enq" method="post" action="contact.php" onsubmit="return validation();">#}
    {#								<div class="row">#}
    {#									<div class="form-group col-md-4">#}
    {#										<input type="text" name="name" class="form-control" placeholder="Name" required="required">#}
    {#									</div>#}
    {#									<div class="form-group col-md-4">#}
    {#										<input type="email" name="email" class="form-control" placeholder="Email" required="required">#}
    {#									</div>#}
    {#									<div class="form-group col-md-4">#}
    {#										<input type="text" name="subject" class="form-control" placeholder="Subject" required="required">#}
    {#									</div>#}
    {#									<div class="form-group col-md-12">#}
    {#										<textarea rows="6" name="message" class="form-control" placeholder="Your Message" required="required"></textarea>#}
    {#									</div>#}
    {#									<div class="col-md-12 text-center">#}
    {#										<button type="submit" value="Send message" name="submit" id="submitButton" class="btn btn-default main_btn" title="Submit Your Message!">Send Message</button>#}
    {#									</div>#}
    {#								</div>#}
    {#							</form>#}
    {#						</div>#}
    {#					</div>#}
    {#				</div>#}
    {#			</section>#}
    {#		<!-- END CONTACT -->#}

    <!-- START FOOTER -->
    <div class="footer">
        <div class="container">
            <div class="copy-text text-center">
                <p>CopyRight © 2020 Nusrat | All Rights Reserved</p>
            </div>
        </div>
    </div>


{% endblock %}
